$white: #ffffff;
$blue: rgb(0, 60, 255);
$blue2: #7436df;
$violent: #8a00ff;
$magenta: rgb(255, 0, 255);

@keyframes fadeIn {
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  
  100%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

main.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
  
  section{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    // grid-auto-flow: column dense;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 96%;
    overflow-x: scroll;
    border-radius: 5px;

    
    @media only screen and (max-width: 500px) {
      width: 89%;
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #f7f5ff;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // background: rgb(116, 54, 223);
        background: rgb(214, 206, 228);
    }


    article{
      background-color: #ffffff;
      box-shadow: 0 10px 30px 4px rgba($blue2, 0.05);
      width: 320px;
      border-radius: 10px;
      margin-right: 48px;
      
      @media only screen and (max-width: 500px) {
        width: 89vw;
        margin-right: 24px;
      }
      
      div.template-heading{
        position: relative;
        background-color: rgb(116, 54, 223);
        width:100%;
        height: 60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; 
        color: #f7f5ff;          
        text-align: center;        
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: .8rem;
        letter-spacing: .8px;

        &>div{
          position: absolute;
          top: 50%;
          right: -10px;
          transform: translate(-50%,-50%);
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items:center;
          width: 60px;

          button{
            background-color: transparent;
            color: $white;
            &:active{
              transform: scale(1);
            }
          }
          button.save-template{
            i{
              font-size: 16px;
            }
          }
          button.remove-template{
            background-color: transparent;
            color: $white;
            // font-size: 36px;
            i{
              font-size: 16px;
            }
          }
        }
        h2{
          text-transform: capitalize;
        }
      }

      div.template-body{
        padding: 24px;
      }
      form{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        position: relative;

        input[type='text'] {
          width: 80%;
          height: 80px;
          resize: none;
          border: none;
          // border: 1px solid blue;
          border-bottom: 1px solid $blue2;
          padding: 8px;
          outline: none;
          font-size: 1.2rem;
          color: $blue2;
          background-color: white;
          transition: all .3s ease;
          
          &:focus {
            box-shadow: 0 10px 30px 4px rgba(0, 60, 255, 0.05);
          }
          &::placeholder {
              opacity: .4;
              color: $blue2;
          }
        }

        .add-uncheck {
          width: 16%;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .uncheck-button {
            cursor: pointer;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            box-shadow:0 4px 16px 1px rgba($blue2, 0.1);
            border-radius: 6px;
            transition: all .2s ease;
            
            &:active{
                transform: scale(.6);
            }
            i{
                color: $blue2;
            }
          }
          .add-button{
            button{
              width: 36px;
              height: 36px;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              box-shadow:0 4px 16px 1px rgba($blue2, 0.1);
              border-radius: 6px;
              transition: all .2s ease;
              color: #7436df;
              font-size: 2rem;
              cursor: pointer;
              outline: none;
              line-height: 16px;
                &:active{
                  transform: scale(.6);
                }
                          
            }
        }
        }

        
      }

      ul.items-container{
        width: 100%;
        // height: 160px;
        background-color: #ffffff;
        width: 100%;
        height: 230px;
        margin-top: 20px;
        overflow-y: scroll;
        list-style: none;
       

        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: #ffffff;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            // background: #7436df;
            // background:rgb(200, 192, 214);
            background:rgb(214, 206, 228);
        }

        li{
          width: 96.6%;
          // height: 40px;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          border-radius: 5px;
          padding: 10px 0;
          cursor: pointer;
          
          &:nth-child(n){
              // background-color: rgb(68, 0, 255);
              // background-color: rgb(111, 35, 241);
              background-color:$violent;
          }
          &:nth-child(2n){
              background-color: $magenta;
              // background-color: #ff93a5;
          }


          .check-task{
                pointer-events: none;
              // border: 1px solid yellowgreen;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                margin-left: 10px;
                
                input[type=checkbox]{
                  margin-right: 10px;
                  color:#ffffff;
                  // cursor: pointer;
                  pointer-events: none;
                }
                label{
                  color:#ffffff;
                  height: 100%;
                  position: relative;
                  margin-left: 30px;
                  pointer-events: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  
                  span{
                      // border: 1px solid yellowgreen;
                      pointer-events: none;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      height: 100%;
                      font-size: 1.1rem;
                      // line-height: 14px;
                      line-height: 22px;
                      width: 100%;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        left: -20px;
                        transform: translate(-50%, -50%);
                        width: 16px;
                        height: 16px;
                        color: #ffffff;
                        pointer-events: none;
                        path{
                          pointer-events: none;
                        }
                      }
                      
                      
                    
                }

                input {
                    display: none;
                }

          }

          .edit-remove {
            width: 56px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-right: 6px;
             i{
                color: #f7f5ff;
                cursor: pointer;
                font-size: .95rem;
                transition: all .2s ease;
                &:active{
                    transform: scale(.9);
                }
            }
          }
        } 
    

      }
    }

    button{
      width: 36px;
      height: 36px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow:0 1px 16px 0px rgba($blue2, 0.1);
      border-radius: 6px;
      transition: all .2s ease;
      color: #7436df;
      font-size: 2rem;
      cursor: pointer;
      outline: none;
      
      &:active{
        transform: scale(.6);
      }
      
    }
    button.open-modal{
      position: absolute;
      top: 36px;
      right: 36px;
      // box-shadow:0 1px 16px 0px rgba($blue2, 0.2);
      box-shadow:0 10px 24px 3px rgba($blue2, 0.2);
      color: $white;
      background-color: $blue2;
      
      &:hover,&:focus{                  
        background-color: $magenta;
        box-shadow:0 10px 24px 3px rgba($magenta, 0.2);
      }

      @media only screen and (max-width: 500px) {
        top: 20px;
        right: 20px;
      }
    }
  
  }

  section.modal-container{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;

    article.background{
      position: absolute;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 49, 76, 0.2);
      border-radius: 0px;
      margin-right: 0;
    }

    article.modal{
      border-radius: 0px;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      width: 500px;
      // width: 30vw;
      height: auto;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.05);
      padding: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transform-origin: center;
      animation: fadeIn 0.6s ease .1s forwards;
      
      @media only screen and (max-width: 580px) {
        width: 460px;
      }
      @media only screen and (max-width: 540px) {
        padding: 36px;
        width: 420px;
      }
      @media only screen and (max-width: 500px) {
        padding: 24px;
        width: 300px;
      }
      @media only screen and (max-width: 340px) {
        width: 89vw;
      }

      h2{
        margin-bottom: 24px;
      }
      form{
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 40px;

        @media only screen and (max-width: 500px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        input{
          height: 50px;
          width: 100%;
          margin-right: 24px;
          // box-shadow: inset 0px 0px 0px 1px rgb(35, 34, 37);
          border: none;
          border: 2px solid rgb(35, 34, 37);
          border-radius: 6px;
          padding: 8px;
          outline: none;
          font-size: 1.2rem;
          color: $blue2;
          background-color: white;
          transition: all .3s ease;
          
          &::placeholder {
            opacity: .4;
            color: $blue2;
          }
          
          &:focus {
            border: 2px solid $blue2;
            // box-shadow: inset 0px 0px 0px 1px $blue2;
          }

          @media only screen and (max-width: 500px) {
            margin-right: 0px;
            margin-bottom: 24px;
          }
        }

        button.create-template{
          width: auto;
          height: 50px;
          font-size: 1.1rem;
          padding: 6px 24px;
          box-shadow:0 10px 24px 3px rgba($blue2, 0.2);
          color: $white;
          background-color: $blue2;
          transition: all 0.1s linear;
          
          &:active{
            box-shadow:0 0px 0px 0px rgba($blue2, 0.2);
            transform: scale(1);
          }

          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }
      }

      &>div{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h3{
          margin-bottom: 14px;
        }

        ul.templates-container{
          width: 100%;
          background-color: #f7f5ff;
          width: 100%;
          height: 142px;
          margin-top: 0px;
          overflow-y: scroll;
          list-style: none;
          padding: 10px;
          border-radius: 5px;

          &::-webkit-scrollbar {
            width: 8px;
          }
          
          &::-webkit-scrollbar-track {
              background: #ffffff;
          }
          
          &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background:rgb(214, 206, 228);
          }

          li{
            width: 100%;
            // height: 40px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-size: 18px;
            border-radius: 5px;
            padding: 10px 10px;
            cursor: pointer;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0px rgba($blue2, 0.1);
            transition: all .2s ease;
            text-transform: capitalize;

            &:not(:last-child){
              margin-bottom: 10px;
            }

            &:hover,&:focus{
              background-color: $blue2;
              color:#ffffff;
            }
          }
        }
      }
      
    }

   
     
  }
}