$white: #ffffff;
$blue: rgb(0, 60, 255);
$blue2: #7436df;
$violent: #8a00ff;
$magenta: rgb(255, 0, 255);

@keyframes fadeIn {
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  
  100%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

main.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;

  button{
    width: 36px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow:0 1px 16px 0px rgba($blue2, 0.1);
    border-radius: 6px;
    transition: all .2s ease;
    color: #7436df;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    
    &:active{
      transform: scale(.6);
    }
    
  }
  section.btn-container{
    width: 100%;
    height: 36px;
    button.open-modal{
      position: absolute;
      top: 36px;
      right: 36px;
      // box-shadow:0 1px 16px 0px rgba($blue2, 0.2);
      box-shadow:0 10px 24px 3px rgba($blue2, 0.2);
      color: $white;
      background-color: $blue2;
      
      &:hover,&:focus{                  
        background-color: $magenta;
        box-shadow:0 10px 24px 3px rgba($magenta, 0.2);
      }

      @media only screen and (max-width: 500px) {
        top: 20px;
        right: 20px;
      }
    }
  
  }
  
  section.templates-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    // grid-auto-flow: column dense;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 86%;
    overflow-x: scroll;
    border-radius: 5px;

    
    @media only screen and (max-width: 500px) {
      width: 89%;
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #f7f5ff;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgb(214, 206, 228);
    }


    article{
      background-color: #ffffff;
      box-shadow: 0 10px 30px 4px rgba($blue2, 0.05);
      width: 320px;
      border-radius: 10px;
      margin-right: 48px;
      
      @media only screen and (max-width: 500px) {
        width: 89vw;
        margin-right: 24px;
      }
      
      div.template-heading{
        position: relative;
        background-color: rgb(116, 54, 223);
        width:100%;
        height: 60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; 
        color: #f7f5ff;          
        text-align: center;        
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: .8rem;
        letter-spacing: .8px;

        &>div{
          position: absolute;
          top: 50%;
          right: -10px;
          transform: translate(-50%,-50%);
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items:center;
          width: 60px;

          button{
            background-color: transparent;
            color: $white;
            &:active{
              transform: scale(1);
            }
          }
          button.save-template{
            position: relative;

            &::before{
              position: absolute;
              content: '';
              top: 1px;
              left: 50%;
              transform: translate(-50%, -50%) rotateZ(45deg);
              background-color: #ffffff;
              box-shadow: 0 2px 10px 0px rgba(#ffffff, 0.15);
              width: 10px;
              height: 10px;
              opacity: 0;
              transition: all .1s ease;
            }
            &::after{
              position: absolute;
              content: 'save template';
              top: -8px;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #ffffff;
              box-shadow: 0 2px 10px 0px rgba(#ffffff, 0.15);
              color: black;
              font-size: 12px;
              width: 80px;
              padding: 4px 4px;
              border-radius: 5px;
              opacity: 0;
              transition: all .1s ease;
            }
            i{
              font-size: 16px;
            }

            &:hover,&:focus{
              &::before, &::after{
                opacity: 1;
              }
            }
          }
          button.remove-template{
            position: relative;
            background-color: transparent;
            color: $white;
            // font-size: 36px;

            &::before{
              position: absolute;
              content: '';
              top: 1px;
              left: 50%;
              transform: translate(-50%, -50%) rotateZ(45deg);
              background-color: #ffffff;
              box-shadow: 0 2px 10px 0px rgba(#ffffff, 0.15);
              width: 10px;
              height: 10px;
              opacity: 0;
              transition: all .1s ease;
            }
            &::after{
              position: absolute;
              content: 'delete template';
              top: -8px;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #ffffff;
              box-shadow: 0 2px 10px 0px rgba(#ffffff, 0.15);
              color: black;
              font-size: 12px;
              width: 88px;
              padding: 4px 4px;
              border-radius: 5px;
              opacity: 0;
              transition: all .1s ease;
            }
            i{
              font-size: 16px;
            }

            &:hover,&:focus{
              &::before, &::after{
                opacity: 1;
              }
            }
          }
        }
        h2{
          text-transform: capitalize;
        }
      }

      div.template-body{
        padding: 24px;
      }
      form{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        position: relative;

        input[type='text'] {
          width: 80%;
          height: 80px;
          resize: none;
          border: none;
          // border: 1px solid blue;
          border-top: 2px solid rgba($blue2, 0);
          border-right: 2px solid rgba($blue2, 0);
          border-left: 2px solid rgba($blue2, 0);
          border-bottom: 2px solid $blue2;
          padding: 8px;
          outline: none;
          font-size: 1.2rem;
          color: $blue2;
          background-color: white;
          transition: all .3s ease;
          
          &:focus {
            box-shadow: 0 10px 30px 4px rgba(0, 60, 255, 0.05);
            border: 2px solid $blue2;
            border-radius: 6px;
          }
          &::placeholder {
              opacity: .4;
              color: $blue2;
          }
        }

        .add-uncheck {
          width: 16%;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .uncheck-button {
            cursor: pointer;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            box-shadow:0 4px 16px 1px rgba($blue2, 0.1);
            border-radius: 6px;
            transition: all .2s ease;
            
            &:active{
                transform: scale(.6);
            }
            i{
                color: $blue2;
            }
          }
          .add-button{
            button{
              width: 36px;
              height: 36px;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              box-shadow:0 4px 16px 1px rgba($blue2, 0.1);
              border-radius: 6px;
              transition: all .2s ease;
              color: #7436df;
              font-size: 2rem;
              cursor: pointer;
              outline: none;
              line-height: 16px;
                &:active{
                  transform: scale(.6);
                }
                          
            }
        }
        }

        
      }

      ul.items-container{
        width: 100%;
        // height: 160px;
        background-color: #ffffff;
        width: 100%;
        // height: 230px;
        height: 242px;
        margin-top: 20px;
        overflow-y: scroll;
        list-style: none;
       

        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: #ffffff;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            // background:rgb(214, 206, 228);
            background:rgb(222, 217, 231);
        }

        li{
          width: 96.6%;
          // height: 40px;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
         
          border-radius: 5px;
          padding: 10px 0;
          cursor: pointer;

          &:not(:last-child){
            margin-bottom: 10px;
          }


          .check-task{
                pointer-events: none;
              // border: 1px solid yellowgreen;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                margin-left: 10px;
                
                input[type=checkbox]{
                  margin-right: 10px;
                  color:#ffffff;
                  // cursor: pointer;
                  pointer-events: none;
                }
                label{
                  color:#ffffff;
                  height: 100%;
                  position: relative;
                  margin-left: 30px;
                  pointer-events: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  
                  span{
                      // border: 1px solid yellowgreen;
                      pointer-events: none;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      height: 100%;
                      font-size: 1.1rem;
                      // line-height: 14px;
                      line-height: 22px;
                      width: 100%;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        left: -20px;
                        transform: translate(-50%, -50%);
                        width: 16px;
                        height: 16px;
                        color: #ffffff;
                        pointer-events: none;
                        path{
                          pointer-events: none;
                        }
                      }
                      
                      
                    
                }

                input {
                    display: none;
                }

          }

          .edit-remove {
            width: 56px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-right: 6px;
             i{
                // color: #f7f5ff;
                cursor: pointer;
                font-size: .95rem;
                transition: all .2s ease;
                &:active{
                    transform: scale(.9);
                }
            }
          }

          &:nth-child(n){
              // background-color:$violent;
              background-color:rgba($violent,0.09);
              .check-task{
                
                input[type=checkbox]{
                  color:$violent;
                }
                label{
                  color:$violent;
                    svg{
                      path{
                        fill: $violent;
                      }
                    }
                }
              }

            .edit-remove {
              i{
                  color:$violent;
              }
            }
          }
          &:nth-child(2n){
              background-color: $magenta;
              background-color:rgba($magenta,0.09);
              .check-task{
                
                input[type=checkbox]{
                  color:$magenta;
                }
                label{
                  color:$magenta;
                    svg{
                      path{
                        fill: $magenta;
                      }
                    }
                }
              }

            .edit-remove {
              i{
                  color:$magenta;
              }
            }
          }
        } 
    

      }
    }

    button.open-modal{
      position: absolute;
      top: 36px;
      right: 36px;
      // box-shadow:0 1px 16px 0px rgba($blue2, 0.2);
      box-shadow:0 10px 24px 3px rgba($blue2, 0.2);
      color: $white;
      background-color: $blue2;
      
      &:hover,&:focus{                  
        background-color: $magenta;
        box-shadow:0 10px 24px 3px rgba($magenta, 0.2);
      }

      @media only screen and (max-width: 500px) {
        top: 20px;
        right: 20px;
      }
    }
  
  }

  section.modal-container{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;

    article.background{
      position: absolute;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 49, 76, 0.2);
      border-radius: 0px;
      margin-right: 0;
    }

    article.modal{
      border-radius: 0px;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      width: 500px;
      // width: 30vw;
      height: auto;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.05);
      padding: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transform-origin: center;
      animation: fadeIn 0.6s ease .1s forwards;
      
      @media only screen and (max-width: 580px) {
        width: 460px;
      }
      @media only screen and (max-width: 540px) {
        padding: 36px;
        width: 420px;
      }
      @media only screen and (max-width: 500px) {
        padding: 24px;
        width: 360px;
      }
      @media only screen and (max-width: 420px) {
        width: 89vw;
      }

      h2{
        margin-bottom: 24px;
      }
      form{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;

        @media only screen and (max-width: 500px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        input{
          height: 50px;
          width: 100%;
          margin-right: 24px;
          // box-shadow: inset 0px 0px 0px 1px rgb(35, 34, 37);
          border: none;
          border: 2px solid rgb(35, 34, 37);
          border-radius: 6px;
          padding: 8px;
          outline: none;
          font-size: 1.2rem;
          color: $blue2;
          background-color: white;
          transition: all .3s ease;
          
          &::placeholder {
            opacity: .4;
            color: $blue2;
          }
          
          &:focus {
            border: 2px solid $blue2;
            // box-shadow: inset 0px 0px 0px 1px $blue2;
          }

          @media only screen and (max-width: 500px) {
            margin-right: 0px;
            margin-bottom: 24px;
          }
        }

        button.create-template{
          width: auto;
          height: 50px;
          font-size: 1.1rem;
          padding: 6px 24px;
          box-shadow:0 10px 24px 3px rgba($blue2, 0.2);
          color: $white;
          background-color: $blue2;
          transition: all 0.1s linear;
          
          &:active{
            box-shadow:0 0px 0px 0px rgba($blue2, 0.2);
            transform: scale(1);
          }

          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }
      }

      &>div{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 40px;
        @media only screen and (max-width: 500px) {
          margin-bottom: 24px;
        }

        h3{
          margin-bottom: 14px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }

        ul.templates-container{
          position: relative;
          width: 100%;
          background-color: #f7f5ff;
          width: 100%;
          // height: 142px;
          height: 153px;
          margin-top: 0px;
          list-style: none;
          padding: 10px;
          border-radius: 6px;
          &>p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0.8;
          }
          
          &.empty{
            overflow-y: hidden;
          }
          &.not-empty{
            overflow-y: scroll;
          }

          &::-webkit-scrollbar {
            width: 8px;
          }
          
          &::-webkit-scrollbar-track {
              background: #ffffff;
          }
          
          &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background:rgb(214, 206, 228);
          }

          li{
            width: 100%;
            // height: 40px;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1rem;
            border-radius: 5px;
            padding: 16px 10px;
            cursor: pointer;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0px rgba($blue2, 0.1);
            transition: all .2s ease;
            text-transform: capitalize;

            p{
              line-height: 16px;
            }


            &>div{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                opacity: 0.6;
                font-size: 14px;
                width: 40px;
                height: 16px;
                margin-right: 10px;

                i{
                  font-size: 15px;
                }
              }
              button{
                background-color: transparent;
                width: auto;
                height: auto;
                box-shadow: none;
                border-radius: 0px;
                padding: 0px 0px;
                font-size: 15px;
                
                i{
                    font-size: 15px;
                  }
                  
                }
              }
              
              
              
            &:not(:last-child){
              margin-bottom: 10px;
            }
            
            &:hover,&:focus{
              background-color: $blue2;
              color:#ffffff;
              
              div button{
                font-size: 15px;
                color: #ffffff;
              }
            }
          }
        }
      }

      button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        border-radius: 6px;
        padding: 12px 24px;
        margin-bottom: 0px;
        box-shadow:0 8px 24px 0px rgba($magenta, 0.2);

        @media only screen and (max-width: 500px) {
          width: 100%;
        }
        &:active{
          box-shadow:0 0px 0px 0px rgba($magenta, 0.2);
          transform: scale(1);
        }
        p{
          font-size: 12px;
          color: $magenta;
          text-transform: capitalize;
        }
        svg{
          width: 16px;
          height: 16px;
          fill: $magenta;
          margin-right: 12px;
        }
      }
      
    }

   
     
  }
}